/* -------------------------------------------------------------------- 
 * BASIC SETUP
 * -------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f9f9f9;
    color: #40373D;
    font-family: 'Lato', 'Arial', serif;
    font-weight: 300;
    font-size: 1.75em;
    text-rendering: optimizeLegibility;
	line-height: 1.33em;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: " ";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------------------------------------------------- 
 * REUSABLES
 * -------------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.subheadingrow {
    max-width: 1140px;
    margin: 0 auto;
}

.subheadingrow h3 {
	margin-top: 1.8em;
}

.notop {
	padding-top: 0px;
	margin-top: 0;
}

.text-align-right {
	text-align: right;
	padding: 0 18px 0 18px;
}

.text-align-left {
	text-align: left;
	padding: 0 18px 0 18px;
}

.text-align-center {
	text-align: center;
}

.box {
	margin-top:.6em;
}

.hr {
    display: block;
    height: 2px;
    background-color: #73D9CF;
    content: " ";
    width: 374px;
	margin: 20px auto;
}

/* ----- HEADINGS ----- */
h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
	font-weight: 700;
	color: #f2f2f2;	
    font-size: 2em;
	font-style: italic;
    margin: 0;
	padding: 0;
	word-spacing: -15px;
	letter-spacing: 9px;
	line-height: 1.33em;
}

h2 {
	font-weight: 800;
	color: #8C7268;
    font-size: 1.2em;
	font-style: italic;
	margin: 0;
	padding: 0;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #73D9CF;
    content: " ";
    width: 374px;
	margin: 0 auto;
    margin-top: 10px;
	margin-bottom: 10px;
}

.modal-header-row h2:after {
	content: none;
}

h3 {
	font-weight: 400;
    color: #8C7268;
    font-size: 1em;
	font-style: normal;
	margin: 0;
	padding: 0;
    word-spacing: 2px;
    letter-spacing: 1px;
}


/* -------------------------------------------------------------------- 
 * HEADER
 * -------------------------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(../vendors/img/hero/black-coffee-close-up-coffee-1422286_1140x679_hFlipped.gif);
    background-size: cover;
	background-position: right bottom;
	height: 100vh;
	overflow-x:hidden;	
}

.header-text {
    position: absolute;
    top: 10%;
	left: 8%;
	text-shadow: 2px 2px #40373D;
	max-width: 57.5%;
}

.contact, .contact h3, .contact a, .slogan h3 {
	width: 100%;
	text-align: left;
	color:#fff;
	padding-left: 3px;
	word-spacing: 4px;
	letter-spacing: 3px;
	font-style:italic;
}

.name, .contact, .slogan, .header, .header-text {
	height: auto;
}

 /* -------------------------------------------------------------------- 
 * SECTION AND PAGE LAYOUT STYLES
 * -------------------------------------------------------------------- */
section {
	padding-top: 25px;
	padding-bottom: 35px;
}


li:first-child {
	padding-top: 0px;	
	margin-top: .5em;
}

li {
	margin-top: .75em;
	list-style:none;
}

.section-employment-history {}

.section-footer, .section-footer a {
    background: #40373D;
    color: #f2f2f2;
    text-decoration: none;
}

.section-footer a:hover { 
	border-bottom: 1px solid #8C7268;
}

.section-skills,
.section-education-references {
	background: #f2f2f2;
	padding-top: 20px;
	padding-bottom: 20px;	
}

.skills {
    max-width: 1140px;
    margin: 0 auto;
}

.skills:first-child {
	padding-top: 0px;
}

.skills::after {
	clear:both;
}

.skills::before, .skills::after {
    content: "";
    display: block;
}

ion-icon {
	font-size: 2em;
	margin-bottom: 1px;
}

a ion-icon {
	text-decoration: none;
}

.li-bullet ion-icon {
	font-size: .6em;
}

.li-bullet {
	width: 3.47%;
}

.li-text {
	width: 95.53%;
}

a {
	text-decoration: none;
	color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
}

/*******************************
	contact modal
********************************/

 /* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
	border-radius: 10px;	
}

/* Modal Content Box */
.modal-content {
	background-color: #f9f9f9;
	margin: 2% auto; 
	padding: 20px;
	border: 3px solid #73D9CF;
	border-radius: 10px;
	width: 45%;
}

/* The Close Button */
.close {
	color: white;
	background-color: red;
	float: right;
	font-size: 28px;
	font-weight: bold;
	padding: 0 10px 2px 10px;
	border-radius: 9px;  
}

.close:hover,
.close:focus {
	text-decoration: none;
	cursor: pointer;
} 

.modal-align-right {
	text-align: right;
}

.modalRadio {
	text-align: right;
}

.modal-align-center {
	text-align: center;
	padding: 0 40px;
}


.modal-align-left {
	text-align: left;
	padding: 0 40px;
}


.btn {
	background-color: #f2f2f2;
	padding: 5px 10px;
	border-radius: 5px;	
}

/*******************************
		end contact modal
********************************/

/*******************************
		experimental
********************************/
form .row:first-of-type {
	margin-top:24px;
}

.modal-header-row{
	margin-bottom: 0;
	padding-bottom: 0;
}

.modal-greeting-row{
	margin-top: 0;
	padding-top: 0;
	width: 65%;
	text-align: center;
}

/*****************************************
		begin responsive adjustments
******************************************/
@media only screen and (max-width: 1725px) {
	.modal-greeting-row {
		width: 75%;
	}
}
@media only screen and (max-width: 1575px) {
	.modal-content {
		margin: 3% auto;
		padding: 10px;
		width: 65%;
	  }
}

@media only screen and (max-width: 1175px) {
	html {
		font-size: 30px;		
	}

/*
	.header-text {
		top: 50%;
		left: 25%;
		transform: none;
	}
*/

	h1 {
		font-size: 1.4em;
		font-style: italic;
		word-spacing: -15px;
		letter-spacing: 9px;
		line-height: 1.33em;
	}

	h2 {
		font-size: 1.2em;
		font-style: italic;
	}

	.li-bullet {
	}

	.li-text {
		width: 90%;
		padding-left: 15px;		
	}

	section {
		padding-left: 15px;
		padding-right: 15px;
	}

	.text-align-right {
		text-align: left;
		margin-top: 0;
		padding-top: 0;
	}

	.text-align-left {
		text-align: left;
		margin-top: 0;
		padding-top: 0;	
	}

	.text-align-center {
		text-align: center;
		margin-top: 0;
		padding-top: 0;
	} 
	 
	.skills {
		padding-top: 0;
		padding-bottom: 0;
	}

	.modal-content {
		width: 75%;
	}
}

@media only screen and (max-width: 1000px) {
	.modal-content {
		width: 90%;
	}

	header {
		background-position: 70% bottom;
	}
}


@media only screen and (max-width: 820px) {
	.modal-align-right {
		text-align: left;
		width: 97%;
	  }

	.modal-input {
		width: 90%;
	}

	.modal-input input, .modal-input textarea {
		width: 100%;
	}

	header {
		background-position: 65% bottom;
	}
}


@media only screen and (max-width: 480px) {
	
	html {
		font-size: 20px;		
	}

/*	
	.header-text {
		top: 50%;
		left: 10%;
		transform: none;
	}
*/
	h1 {
		font-size: 140%;
		font-style: italic;
		word-spacing: -15px;
		letter-spacing: 9px;
		line-height: 1.33em;
	}

	h2 {
		font-size: 120%;
		font-style: italic;
	}

	h2:after {
		width: 200px;
	}

	.li-bullet {
	}

	.li-text {
		width: 90%;
		padding-left: 5px;
	}

	section {
		padding-left: 10px;
		padding-right: 10px;
	}

	.span-1-of-3{
		width: 49.2%;
	}

	.text-align-right {
		text-align: center;
		margin-top: 0;
		padding-top: 0;
	}

	.text-align-left {
		text-align: center;
		margin-top: 0;
		padding-top: 0;	
	}

	.text-align-center {
		text-align: center;
		margin-top: 0;
		padding-top: 0;
	} 
	 
	.skills {
		padding-top: 0;
		padding-bottom: 0;
	}

	.modal-content {
		margin: 5% auto; 
		padding: 5px;
		width: 95%;
	}

	.modalRadio {
		width: 32.26%;
	}

	.modalRadioLabel{
		width: 66.13%;
	}	

}